@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
    overflow-x: hidden;
}

@font-face {
    font-family: 'vazirmatn';
    src: url('./assets/fonts/Vazirmatn-Regular.ttf') format('ttf'); /* Adjust the path and format as necessary */
 
}


h1{
    font-size: 30px;
}


